<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.DeptMapper">

    <!--ehcache 做二级缓存-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">

    </cache>
    
    <resultMap id="deptMap" type="dept">
        <id property="deptId" column="department_id"/>
        <result property="deptName" column="department_name"/>

        <collection property="employees" ofType="employee">
            <id property="employeeId" column="employee_id"/>
            <result property="firstName" column="first_name"/>
            <result property="lastName" column="last_name"/>
            <result property="email" column="email"/>
        </collection>
    </resultMap>


    <resultMap id="deptMap_step" type="dept">
        <id property="deptId" column="department_id"/>
        <result property="deptName" column="department_name"/>

        <!-- fetchType="lazy" 延迟和立即加载，优先于全局配置-->
        <collection property="employees" select="com.example.mapper.EmployeeMapper.getEmployeeByDeptId"
                    column="department_id" fetchType="lazy"/>
    </resultMap>


    <select id="getDeptById" resultType="dept">
        SELECT d.department_id as deptId,
        d.department_name as deptName FROM departments d WHERE d.department_id = #{id}
    </select>

    <select id="getDeptAndEmployees" resultMap="deptMap">
        SELECT
            e.employee_id,
            e.first_name,
            e.last_name,
            e.email,
            d.department_id,
            d.department_name
        FROM
            departments d
        LEFT JOIN employees e ON e.department_id = d.department_id
        WHERE d.department_id = #{id}
    </select>

    <select id="getDeptEmployeesStep" resultMap="deptMap_step">
        SELECT * FROM departments d WHERE d.department_id = #{id}
    </select>

    <select id="getList" resultType="map">
        select * from departments
    </select>

</mapper>


