<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.StudentMapper">




    <select id="query" resultType="student">
        SELECT * FROM  tb_student

        <!--prefix：前缀  suffixOverrides:后缀覆盖-->
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null">
                id = #{id} AND
            </if>
            <if test="name != null and name !=''">
                name = #{name} AND
            </if>
            <if test="stunum != null and stunum != ''">
                stunum = #{stunum} AND
            </if>
            <if test="age != null">
                age = #{age}
            </if>
        </trim>

    </select>


    <update id="update">
        UPDATE tb_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="name !=null and name!=''">
                `name` = #{name},
            </if>
            <if test="stunum !=null and stunum!=''">
                stunum = #{stunum},
            </if>
            <if test="age!=null">
                age = #{age},
            </if>

        </trim>
        WHERE  id = #{id}
    </update>

    <select id="queryByIds" resultType="student">
        SELECT * from tb_student WHERE id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>


</mapper>



